body {
  font-family: Arial, sans-serif;
  background: #ddd7d7;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: grey;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

input {
  width: 80%;
  padding: 8px;
}

button {
    background:white;
  padding: 8px 10px;
  margin-top: 10px;
}

li {
  list-style: none;
  margin: 10px 0;
  background: #eee;
  padding: 5px;
}
